USE [master]
GO
/****** Object:  Database [Vimas]    Script Date: 14/07/2016 9:40:31 PM ******/
CREATE DATABASE [Vimas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vimas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Vimas.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Vimas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Vimas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vimas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vimas]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BangCap]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangCap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinDuTuyen] [int] NOT NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[BangCap] [nvarchar](50) NULL,
	[DaNop] [bit] NULL,
	[TrinhDo] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_BangCap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BienBan]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienBan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idThongTinCaNhan] [int] NOT NULL,
	[GhiChu] [nvarchar](100) NOT NULL,
	[HinhAnh] [nvarchar](2803) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_BienBan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongTyChungNghe]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTyChungNghe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenVietTat] [nvarchar](50) NULL,
	[TenTiengAnh] [nvarchar](100) NULL,
	[TenTiengViet] [nvarchar](100) NULL,
	[DiaChiTiengAnh] [nvarchar](500) NULL,
	[DiaChiTiengViet] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[NguoiDaiDien] [nvarchar](50) NULL,
	[ChucDanh] [nvarchar](50) NULL,
	[VonDieuLe] [decimal](18, 0) NULL,
	[SoNhanVien] [int] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_CongTyChungNghe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CongTyTiepNhan]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongTyTiepNhan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenTiengAnh] [nvarchar](100) NULL,
	[TenTiengNhat] [nvarchar](100) NULL,
	[NganhNghe] [nvarchar](50) NULL,
	[NguoiDaiDien] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Fax] [nvarchar](20) NULL,
	[idNghiepDoan] [int] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_CongTyTiepNhan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HopDongDOLAB]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongDOLAB](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NgayDangKy] [datetime] NULL,
	[NgayNhan] [datetime] NULL,
	[SoDKHopDong] [nvarchar](50) NULL,
	[SoCongVan] [nvarchar](50) NULL,
	[SoPhieuTiepNhan] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_HopDongDOLAB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HopDongDOLABHocVienMapping]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDongDOLABHocVienMapping](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NULL,
	[IdHopDongDOLAB] [int] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_HopDongDOLABHocVienMapping] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KyTucXa]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyTucXa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NULL,
	[NgayVao] [datetime] NULL,
	[NgayRa] [datetime] NULL,
	[SoPhong] [nvarchar](20) NULL,
	[SoHocTuDo] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_KyTucXa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NghiepDoan]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NghiepDoan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNghiepDoan] [nvarchar](50) NULL,
	[TenNghiepDoan] [nvarchar](100) NULL,
	[TenVietTat] [nvarchar](50) NULL,
	[NguoiDaiDien] [nvarchar](50) NULL,
	[ChucDanh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Fax] [nvarchar](20) NULL,
	[NgayKyHopDong] [datetime] NULL,
	[LuongCoBan] [decimal](18, 0) NULL,
	[PhiDichVu] [decimal](18, 0) NULL,
	[PhiUTDT] [decimal](18, 0) NULL,
	[WebsiteUrl] [nvarchar](2083) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_NghiepDoan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuaTrinhHocTap]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhHocTap](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NOT NULL,
	[TuNam] [int] NULL,
	[DenNam] [int] NULL,
	[TenTruong] [nvarchar](80) NULL,
	[LoaiTruong] [int] NULL,
	[NganhHoc] [nvarchar](50) NULL,
	[DaTotNghiep] [bit] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_QuaTrinhHocTap] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuaTrinhLamViec]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTrinhLamViec](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NOT NULL,
	[TuNam] [int] NULL,
	[DenNam] [int] NULL,
	[TenCongTy] [nvarchar](200) NULL,
	[HinhThucCongTy] [nvarchar](80) NULL,
	[DiaChiCongTy] [nvarchar](300) NULL,
	[ChiTietCongViec] [nvarchar](500) NULL,
	[DangLam] [bit] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_QuaTrinhLamViec] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SucKhoe]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SucKhoe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NOT NULL,
	[ChieuCao] [nvarchar](10) NULL,
	[CanNang] [nvarchar](10) NULL,
	[NhomMau] [varchar](2) NULL,
	[TayThuan] [int] NULL,
	[ThiLucMatTrai] [int] NULL,
	[ThiLucMatPhai] [int] NULL,
	[HinhXam] [bit] NULL,
	[NgayKhamDot1] [datetime] NULL,
	[GhiChuSucKhoeDot1] [nvarchar](800) NULL,
	[NgayKhamDot2] [datetime] NULL,
	[GhiChuSucKhoeDot2] [nvarchar](800) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_SucKhoe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SystemLog]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLog](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[id] [int] NULL,
	[TenBang] [nvarchar](50) NULL,
	[HanhDong] [nvarchar](50) NULL,
	[ThucHienBoi] [nvarchar](255) NULL,
	[NgayThucHien] [datetime] NULL,
 CONSTRAINT [PK_SystemLog] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinCaNhan]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThongTinCaNhan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaLuuHoSo] [nvarchar](50) NOT NULL,
	[IdTrungTamGTVL] [int] NOT NULL,
	[HoTen] [nvarchar](80) NOT NULL,
	[TenPhienAmNhat] [nvarchar](100) NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[NoiSinh] [nvarchar](50) NOT NULL,
	[TrinhDoVanHoa] [int] NULL,
	[TinhTrangGiaDinh] [int] NOT NULL,
	[CMND] [nvarchar](12) NOT NULL,
	[NgayCap] [datetime] NOT NULL,
	[NoiCap] [nvarchar](50) NOT NULL,
	[SoHoChieu] [nvarchar](12) NULL,
	[NgayCapHC] [date] NULL,
	[NoiCapHC] [nvarchar](50) NULL,
	[NgayHetHan] [date] NULL,
	[SoNha] [nvarchar](25) NULL,
	[PhuongXa] [nvarchar](30) NULL,
	[QuanHuyen] [nvarchar](50) NULL,
	[Tinh] [nvarchar](500) NULL,
	[DiaChiTiengAnh] [nvarchar](300) NULL,
	[DiaChiLienLac] [nvarchar](300) NULL,
	[DienThoaiDiDong] [varchar](12) NULL,
	[DienThoaiNha] [varchar](20) NULL,
	[CoGiay] [int] NULL,
	[SizeQuanAo] [varchar](5) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ThongTinCaNhan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThongTinDuTuyen]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinDuTuyen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NOT NULL,
	[NgayDangKy] [datetime] NOT NULL,
	[UuDiem] [nvarchar](500) NULL,
	[NhuocDiem] [nvarchar](500) NULL,
	[KyNangKhac] [nvarchar](500) NULL,
	[SoThich] [nvarchar](500) NULL,
	[LyDoDiNhat] [nvarchar](500) NULL,
	[VeNuocLamGi] [nvarchar](500) NULL,
	[NguoiGioiThieu] [nvarchar](50) NULL,
	[BanBeBenNhat] [nvarchar](50) NULL,
	[AnhChiBenNhat] [nvarchar](50) NULL,
	[AnhChiDangKyOVimas] [int] NULL,
	[DaDKDiNhatOCongtyKhac] [bit] NOT NULL,
	[DaDiNuocNgoai] [bit] NOT NULL,
	[DaDiNhat] [bit] NOT NULL,
	[GhiChuSoVan] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ThongTinDuTuyen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinGiaDinh]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinGiaDinh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[QuanHe] [int] NULL,
	[NgaySinh] [datetime] NOT NULL,
	[NgheNghiep] [nvarchar](50) NULL,
	[NoiLamViec] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](300) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ThongTinGiaDinh] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinNopTien]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNopTien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NOT NULL,
	[LoaiTien] [int] NOT NULL,
	[SoPhieu] [nvarchar](50) NOT NULL,
	[NgayLapPhieu] [datetime] NOT NULL,
	[ThuHayChi] [int] NOT NULL,
	[SoTien] [decimal](18, 0) NOT NULL,
	[LyDo] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ThongTinNopTien] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinPhongVan]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinPhongVan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NOT NULL,
	[NgayPhongVan] [datetime] NULL,
	[NghePhongVan] [nvarchar](50) NULL,
	[GhiChuPV] [nvarchar](500) NULL,
	[NgayTrungTuyen] [datetime] NULL,
	[DotTrungTuyen] [nvarchar](50) NULL,
	[NgheTrungTuyenTiengAnh] [nvarchar](50) NULL,
	[NgheTrungTuyenTiengViet] [nvarchar](50) NULL,
	[IdCongTyTiepNhan] [int] NULL,
	[ThoiHanHopDong] [int] NULL,
	[GhiChuSauTrungTuyen] [nvarchar](500) NULL,
	[LopHoc] [nvarchar](50) NULL,
	[NgayNhapHoc] [datetime] NULL,
	[NgayKetThucKhoaHoc] [datetime] NULL,
	[GhiChuKhenThuongKyLuat] [nvarchar](500) NULL,
	[IdCongTyChungNghe] [int] NULL,
	[SoPhieuTiepNhan] [nvarchar](50) NULL,
	[GhiChuPhaiCu] [nvarchar](500) NULL,
	[HopDongTTS] [nvarchar](50) NULL,
	[NgayKyHopDong] [datetime] NULL,
	[HinhAnh] [nvarchar](2083) NULL,
	[NgayHuySauKhiTrungTuyen] [datetime] NULL,
	[LyDoHuy] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ThongTinPhongVan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinVeNuoc]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinVeNuoc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdThongTinCaNhan] [int] NOT NULL,
	[NgayDi] [datetime] NULL,
	[NgayVe] [datetime] NULL,
	[LyDoVe] [nvarchar](500) NULL,
	[ThanhLyHopDong] [bit] NULL,
	[NgayThanhLy] [datetime] NULL,
	[SoHopDongThanhLy] [nvarchar](50) NULL,
	[NgayTron] [datetime] NULL,
	[NgayBiTrucXuat] [datetime] NULL,
	[GhiChuTheoDoi] [nvarchar](500) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_ThongTinVeNuoc] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrungTamGTVL]    Script Date: 14/07/2016 9:40:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrungTamGTVL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaNguon] [nvarchar](50) NOT NULL,
	[TenCoSo] [nvarchar](100) NOT NULL,
	[DiaChi] [nvarchar](500) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[Fax] [nvarchar](20) NULL,
	[SoHDLK] [nvarchar](50) NULL,
	[NgayKyHopDong] [datetime] NULL,
	[NgayHetHan] [datetime] NULL,
	[NguoiDaiDien] [nvarchar](50) NULL,
	[ChucDanh] [nvarchar](50) NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_TrungTamGTVL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'4', N'PhongKeToan')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'PhongNguon')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'33cd4f7d-da78-41b3-8c6d-ba1ac6e4a82b', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'dbb03fba-e3eb-477d-bb62-4b5aa0d8a2e0', N'2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'e894bbb7-54f8-4ec5-b322-1a2c7f06d3ae', N'3')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1424498f-ae1f-4138-8dba-cfd6c51ed037', N'phongketoan@gmail.com', 0, N'E10ADC3949BA59ABBE56E057F20F883E', N'80338ffe-9730-4363-acbe-bda1e07fb786', NULL, 0, 0, NULL, 1, 0, N'phongketoan')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'33cd4f7d-da78-41b3-8c6d-ba1ac6e4a82b', N'phuhiep11395@gmail.com', 0, N'E10ADC3949BA59ABBE56E057F20F883E', N'7aeaa3f5-e5e6-41d3-a53c-d2fd2a97e3dc', NULL, 0, 0, NULL, 1, 0, N'phuhiep11395')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'51a01064-1806-4315-a10e-4c6f08f78c63', N'phongquanlyktx@gmail.com', 0, N'E10ADC3949BA59ABBE56E057F20F883E', N'c8601d17-4b61-4b10-8df2-cda3e941c185', NULL, 0, 0, NULL, 1, 0, N'phongquanlyktx')
SET IDENTITY_INSERT [dbo].[BienBan] ON 

INSERT [dbo].[BienBan] ([id], [idThongTinCaNhan], [GhiChu], [HinhAnh], [Active]) VALUES (1, 5, N'Temp 2', N'/BienBan/BienBan_74fe3eef39d44c8ca9ec112270977c43.jpg', 1)
SET IDENTITY_INSERT [dbo].[BienBan] OFF
SET IDENTITY_INSERT [dbo].[CongTyChungNghe] ON 

INSERT [dbo].[CongTyChungNghe] ([Id], [TenVietTat], [TenTiengAnh], [TenTiengViet], [DiaChiTiengAnh], [DiaChiTiengViet], [DienThoai], [NguoiDaiDien], [ChucDanh], [VonDieuLe], [SoNhanVien], [Active]) VALUES (1, N'CN-Thông', N'ABC Company', N'Công ty ABC CHứng nghề', N'123/3453/65/54324/234/5 Hai Bà Trưng Quận 12, Tp.HCM', N'123/3453/65/54324/234/5 Hai Bà Trưng Quận 12, Tp.HCM', N'21321', N'Thông', N'6546', CAST(32131 AS Decimal(18, 0)), 351321, 1)
INSERT [dbo].[CongTyChungNghe] ([Id], [TenVietTat], [TenTiengAnh], [TenTiengViet], [DiaChiTiengAnh], [DiaChiTiengViet], [DienThoai], [NguoiDaiDien], [ChucDanh], [VonDieuLe], [SoNhanVien], [Active]) VALUES (2, N'sfdflj', N'sdf', N's', N'sdf', N'sdf', N'4234234234234', N'sdfsdf', N'sdfsdf', CAST(234234 AS Decimal(18, 0)), 234234234, 0)
SET IDENTITY_INSERT [dbo].[CongTyChungNghe] OFF
SET IDENTITY_INSERT [dbo].[CongTyTiepNhan] ON 

INSERT [dbo].[CongTyTiepNhan] ([Id], [TenTiengAnh], [TenTiengNhat], [NganhNghe], [NguoiDaiDien], [DiaChi], [DienThoai], [Fax], [idNghiepDoan], [Active]) VALUES (3, NULL, N'Cty1', N'IT', N' HiepBP', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[CongTyTiepNhan] ([Id], [TenTiengAnh], [TenTiengNhat], [NganhNghe], [NguoiDaiDien], [DiaChi], [DienThoai], [Fax], [idNghiepDoan], [Active]) VALUES (4, N'abc', N'abc edit', N'abc', N'abc', NULL, N'1234', NULL, NULL, 0)
INSERT [dbo].[CongTyTiepNhan] ([Id], [TenTiengAnh], [TenTiengNhat], [NganhNghe], [NguoiDaiDien], [DiaChi], [DienThoai], [Fax], [idNghiepDoan], [Active]) VALUES (5, N'Company ABC1', N'テスト会社ートン1', N'A1', N'A1', N'112/4/4 phạm abc, Bến Nghé, Quận 1, HCM', N'0123668791', N'01246541', 1, 1)
SET IDENTITY_INSERT [dbo].[CongTyTiepNhan] OFF
SET IDENTITY_INSERT [dbo].[HopDongDOLAB] ON 

INSERT [dbo].[HopDongDOLAB] ([Id], [NgayDangKy], [NgayNhan], [SoDKHopDong], [SoCongVan], [SoPhieuTiepNhan], [Active]) VALUES (1, CAST(N'2016-07-11 00:00:00.000' AS DateTime), CAST(N'2016-07-06 00:00:00.000' AS DateTime), N'ASD', N'SDF', N'AWE', 1)
INSERT [dbo].[HopDongDOLAB] ([Id], [NgayDangKy], [NgayNhan], [SoDKHopDong], [SoCongVan], [SoPhieuTiepNhan], [Active]) VALUES (2, CAST(N'2016-07-11 00:00:00.000' AS DateTime), CAST(N'2016-07-11 00:00:00.000' AS DateTime), N'TEST delete', N'A', N'A', 0)
SET IDENTITY_INSERT [dbo].[HopDongDOLAB] OFF
SET IDENTITY_INSERT [dbo].[HopDongDOLABHocVienMapping] ON 

INSERT [dbo].[HopDongDOLABHocVienMapping] ([Id], [IdThongTinCaNhan], [IdHopDongDOLAB], [Active]) VALUES (1, 6, 1, 1)
INSERT [dbo].[HopDongDOLABHocVienMapping] ([Id], [IdThongTinCaNhan], [IdHopDongDOLAB], [Active]) VALUES (2, 7, 1, 1)
INSERT [dbo].[HopDongDOLABHocVienMapping] ([Id], [IdThongTinCaNhan], [IdHopDongDOLAB], [Active]) VALUES (3, 5, 1, 1)
SET IDENTITY_INSERT [dbo].[HopDongDOLABHocVienMapping] OFF
SET IDENTITY_INSERT [dbo].[KyTucXa] ON 

INSERT [dbo].[KyTucXa] ([Id], [IdThongTinCaNhan], [NgayVao], [NgayRa], [SoPhong], [SoHocTuDo], [GhiChu], [Active]) VALUES (1, 7, NULL, NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[KyTucXa] ([Id], [IdThongTinCaNhan], [NgayVao], [NgayRa], [SoPhong], [SoHocTuDo], [GhiChu], [Active]) VALUES (2, 7, CAST(N'2016-07-13 00:00:00.000' AS DateTime), CAST(N'2016-07-06 00:00:00.000' AS DateTime), N'123', NULL, NULL, 0)
INSERT [dbo].[KyTucXa] ([Id], [IdThongTinCaNhan], [NgayVao], [NgayRa], [SoPhong], [SoHocTuDo], [GhiChu], [Active]) VALUES (3, 7, CAST(N'2016-07-06 00:00:00.000' AS DateTime), CAST(N'2016-06-28 00:00:00.000' AS DateTime), N'123', N'AA', N'AA', 1)
SET IDENTITY_INSERT [dbo].[KyTucXa] OFF
SET IDENTITY_INSERT [dbo].[NghiepDoan] ON 

INSERT [dbo].[NghiepDoan] ([Id], [MaNghiepDoan], [TenNghiepDoan], [TenVietTat], [NguoiDaiDien], [ChucDanh], [DiaChi], [DienThoai], [Fax], [NgayKyHopDong], [LuongCoBan], [PhiDichVu], [PhiUTDT], [WebsiteUrl], [Active]) VALUES (1, N'ND001', N'ND của Thông', N'ND-Thông', N'Tông', N'Giám đốc', N'12/4/4 phạm abc, Bến Nghé, Quận 1, HCM', N'0123456', N'0123456', CAST(N'2016-06-27 00:00:00.000' AS DateTime), CAST(1000000 AS Decimal(18, 0)), CAST(122000 AS Decimal(18, 0)), CAST(1212 AS Decimal(18, 0)), N'www.google.com.vn', 1)
INSERT [dbo].[NghiepDoan] ([Id], [MaNghiepDoan], [TenNghiepDoan], [TenVietTat], [NguoiDaiDien], [ChucDanh], [DiaChi], [DienThoai], [Fax], [NgayKyHopDong], [LuongCoBan], [PhiDichVu], [PhiUTDT], [WebsiteUrl], [Active]) VALUES (2, N'ND002', N'ND của Thông 2', N'A', N'Thông', N'NV', N'123a Phan Văn Lưu, Quận 1. Tp.HCM', N'165464', N'654654', CAST(N'2016-06-27 00:00:00.000' AS DateTime), CAST(654654 AS Decimal(18, 0)), CAST(654 AS Decimal(18, 0)), CAST(654 AS Decimal(18, 0)), N'www.google.com.vn', 1)
INSERT [dbo].[NghiepDoan] ([Id], [MaNghiepDoan], [TenNghiepDoan], [TenVietTat], [NguoiDaiDien], [ChucDanh], [DiaChi], [DienThoai], [Fax], [NgayKyHopDong], [LuongCoBan], [PhiDichVu], [PhiUTDT], [WebsiteUrl], [Active]) VALUES (3, N'asd', N'asd', NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2016-07-12 00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[NghiepDoan] OFF
SET IDENTITY_INSERT [dbo].[QuaTrinhHocTap] ON 

INSERT [dbo].[QuaTrinhHocTap] ([Id], [IdThongTinCaNhan], [TuNam], [DenNam], [TenTruong], [LoaiTruong], [NganhHoc], [DaTotNghiep], [Active]) VALUES (1, 2, 2013, 2016, N'FPT', 5, N'IS', 0, 1)
INSERT [dbo].[QuaTrinhHocTap] ([Id], [IdThongTinCaNhan], [TuNam], [DenNam], [TenTruong], [LoaiTruong], [NganhHoc], [DaTotNghiep], [Active]) VALUES (2, 7, 2012, 2016, N'FPT', 4, N'IS', 0, 0)
INSERT [dbo].[QuaTrinhHocTap] ([Id], [IdThongTinCaNhan], [TuNam], [DenNam], [TenTruong], [LoaiTruong], [NganhHoc], [DaTotNghiep], [Active]) VALUES (3, 5, 2010, 2016, N'DAI HOC FPT', 5, N'ASD', 0, 1)
SET IDENTITY_INSERT [dbo].[QuaTrinhHocTap] OFF
SET IDENTITY_INSERT [dbo].[QuaTrinhLamViec] ON 

INSERT [dbo].[QuaTrinhLamViec] ([Id], [IdThongTinCaNhan], [TuNam], [DenNam], [TenCongTy], [HinhThucCongTy], [DiaChiCongTy], [ChiTietCongViec], [DangLam], [Active]) VALUES (1, 5, 12001, 12016, N'FPT Software1', N'TNHH1', N'1123 Láng Hạ, Hà Nội, Việt Nam', N'1Làm tester phá đám coder', 0, 1)
INSERT [dbo].[QuaTrinhLamViec] ([Id], [IdThongTinCaNhan], [TuNam], [DenNam], [TenCongTy], [HinhThucCongTy], [DiaChiCongTy], [ChiTietCongViec], [DangLam], [Active]) VALUES (2, 5, 2016, 2017, N'Test delete', N'Test delete', N'Test delete', N'Test delete', 1, 0)
INSERT [dbo].[QuaTrinhLamViec] ([Id], [IdThongTinCaNhan], [TuNam], [DenNam], [TenCongTy], [HinhThucCongTy], [DiaChiCongTy], [ChiTietCongViec], [DangLam], [Active]) VALUES (3, 5, 2016, 2017, N'Test delete', N'HHH', N'ASD', N'ASD', NULL, 0)
SET IDENTITY_INSERT [dbo].[QuaTrinhLamViec] OFF
SET IDENTITY_INSERT [dbo].[SucKhoe] ON 

INSERT [dbo].[SucKhoe] ([Id], [IdThongTinCaNhan], [ChieuCao], [CanNang], [NhomMau], [TayThuan], [ThiLucMatTrai], [ThiLucMatPhai], [HinhXam], [NgayKhamDot1], [GhiChuSucKhoeDot1], [NgayKhamDot2], [GhiChuSucKhoeDot2], [Active]) VALUES (1, 6, N'1         ', N'1         ', N'A1', 0, 1, 10, 1, CAST(N'2016-06-28 00:00:00.000' AS DateTime), N'aa1', CAST(N'2016-06-29 00:00:00.000' AS DateTime), N'bb1', 1)
SET IDENTITY_INSERT [dbo].[SucKhoe] OFF
SET IDENTITY_INSERT [dbo].[SystemLog] ON 

INSERT [dbo].[SystemLog] ([no], [id], [TenBang], [HanhDong], [ThucHienBoi], [NgayThucHien]) VALUES (1, 21, N'ThongTinNopTien', N'Tạo', N'phuhiep11395', CAST(N'2016-07-13 09:36:42.487' AS DateTime))
INSERT [dbo].[SystemLog] ([no], [id], [TenBang], [HanhDong], [ThucHienBoi], [NgayThucHien]) VALUES (2, 22, N'ThongTinNopTien', N'Tạo', N'phuhiep11395', CAST(N'2016-07-14 11:23:40.673' AS DateTime))
SET IDENTITY_INSERT [dbo].[SystemLog] OFF
SET IDENTITY_INSERT [dbo].[ThongTinCaNhan] ON 

SET IDENTITY_INSERT [dbo].[ThongTinCaNhan] OFF
SET IDENTITY_INSERT [dbo].[ThongTinDuTuyen] ON 

INSERT [dbo].[ThongTinDuTuyen] ([Id], [IdThongTinCaNhan], [NgayDangKy], [UuDiem], [NhuocDiem], [KyNangKhac], [SoThich], [LyDoDiNhat], [VeNuocLamGi], [NguoiGioiThieu], [BanBeBenNhat], [AnhChiBenNhat], [AnhChiDangKyOVimas], [DaDKDiNhatOCongtyKhac], [DaDiNuocNgoai], [DaDiNhat], [GhiChuSoVan], [Active]) VALUES (5, 7, CAST(N'2016-07-14 00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, 1, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[ThongTinDuTuyen] OFF
SET IDENTITY_INSERT [dbo].[ThongTinGiaDinh] ON 

INSERT [dbo].[ThongTinGiaDinh] ([Id], [IdThongTinCaNhan], [HoTen], [QuanHe], [NgaySinh], [NgheNghiep], [NoiLamViec], [DiaChi], [SoDienThoai], [Active]) VALUES (4, 2, N'Lê Khải Thông', 4, CAST(N'1995-07-05 00:00:00.000' AS DateTime), N'Sinh viên', N'Hồ Chí Minh', N'10 10th Street Thu Duc District', N'01275904362', 1)
INSERT [dbo].[ThongTinGiaDinh] ([Id], [IdThongTinCaNhan], [HoTen], [QuanHe], [NgaySinh], [NgheNghiep], [NoiLamViec], [DiaChi], [SoDienThoai], [Active]) VALUES (5, 5, N'Ba-Thông', 0, CAST(N'2016-06-27 00:00:00.000' AS DateTime), N'ASD', N'ASD', N'ASD', N'12312313', 1)
INSERT [dbo].[ThongTinGiaDinh] ([Id], [IdThongTinCaNhan], [HoTen], [QuanHe], [NgaySinh], [NgheNghiep], [NoiLamViec], [DiaChi], [SoDienThoai], [Active]) VALUES (6, 5, N'Mẹ-Thông', 1, CAST(N'1973-07-05 00:00:00.000' AS DateTime), N'Nội trợ', N'Bình Dương', N'123A/34 Bình Dương, Tp.TDM', N'0123456789', 1)
SET IDENTITY_INSERT [dbo].[ThongTinGiaDinh] OFF
SET IDENTITY_INSERT [dbo].[ThongTinNopTien] ON 

INSERT [dbo].[ThongTinNopTien] ([Id], [IdThongTinCaNhan], [LoaiTien], [SoPhieu], [NgayLapPhieu], [ThuHayChi], [SoTien], [LyDo], [Active]) VALUES (2, 6, 1, N'1', CAST(N'2016-07-07 00:00:00.000' AS DateTime), 0, CAST(20000000 AS Decimal(18, 0)), NULL, 1)
INSERT [dbo].[ThongTinNopTien] ([Id], [IdThongTinCaNhan], [LoaiTien], [SoPhieu], [NgayLapPhieu], [ThuHayChi], [SoTien], [LyDo], [Active]) VALUES (4, 5, 2, N'THONGTEST001', CAST(N'2016-06-27 00:00:00.000' AS DateTime), 0, CAST(250000 AS Decimal(18, 0)), N'ABCV', 1)
INSERT [dbo].[ThongTinNopTien] ([Id], [IdThongTinCaNhan], [LoaiTien], [SoPhieu], [NgayLapPhieu], [ThuHayChi], [SoTien], [LyDo], [Active]) VALUES (5, 5, 0, N'THONGTEST002', CAST(N'2016-07-04 00:00:00.000' AS DateTime), 0, CAST(250000 AS Decimal(18, 0)), N'ABC', 1)
SET IDENTITY_INSERT [dbo].[ThongTinNopTien] OFF
SET IDENTITY_INSERT [dbo].[ThongTinPhongVan] ON 

SET IDENTITY_INSERT [dbo].[ThongTinPhongVan] OFF
SET IDENTITY_INSERT [dbo].[ThongTinVeNuoc] ON 

INSERT [dbo].[ThongTinVeNuoc] ([Id], [IdThongTinCaNhan], [NgayDi], [NgayVe], [LyDoVe], [ThanhLyHopDong], [NgayThanhLy], [SoHopDongThanhLy], [NgayTron], [NgayBiTrucXuat], [GhiChuTheoDoi], [Active]) VALUES (1, 7, CAST(N'2016-07-14 00:00:00.000' AS DateTime), CAST(N'2016-07-14 00:00:00.000' AS DateTime), N'Test', 1, CAST(N'2016-07-13 00:00:00.000' AS DateTime), N'123', CAST(N'2016-07-14 00:00:00.000' AS DateTime), CAST(N'2016-07-14 00:00:00.000' AS DateTime), N'ABC', 1)
SET IDENTITY_INSERT [dbo].[ThongTinVeNuoc] OFF
SET IDENTITY_INSERT [dbo].[TrungTamGTVL] ON 

INSERT [dbo].[TrungTamGTVL] ([Id], [MaNguon], [TenCoSo], [DiaChi], [DienThoai], [Fax], [SoHDLK], [NgayKyHopDong], [NgayHetHan], [NguoiDaiDien], [ChucDanh], [Active]) VALUES (1, N'1', N'Vimas', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[TrungTamGTVL] ([Id], [MaNguon], [TenCoSo], [DiaChi], [DienThoai], [Fax], [SoHDLK], [NgayKyHopDong], [NgayHetHan], [NguoiDaiDien], [ChucDanh], [Active]) VALUES (2, N'GTVL-01', N'GTVL-01', N'as6d54 as6d54 as6d54as d', N'0123456748', N'01234564798', N'5sd6', CAST(N'2016-07-06 00:00:00.000' AS DateTime), CAST(N'2020-07-11 00:00:00.000' AS DateTime), N'Thông', NULL, 1)
SET IDENTITY_INSERT [dbo].[TrungTamGTVL] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 14/07/2016 9:40:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 14/07/2016 9:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 14/07/2016 9:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 14/07/2016 9:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 14/07/2016 9:40:31 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 14/07/2016 9:40:31 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BangCap]  WITH CHECK ADD  CONSTRAINT [FK_BangCap_ThongTinDuTuyen] FOREIGN KEY([IdThongTinDuTuyen])
REFERENCES [dbo].[ThongTinDuTuyen] ([Id])
GO
ALTER TABLE [dbo].[BangCap] CHECK CONSTRAINT [FK_BangCap_ThongTinDuTuyen]
GO
ALTER TABLE [dbo].[BienBan]  WITH CHECK ADD  CONSTRAINT [FK_BienBan_ThongTinCaNhan] FOREIGN KEY([idThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[BienBan] CHECK CONSTRAINT [FK_BienBan_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[CongTyTiepNhan]  WITH CHECK ADD  CONSTRAINT [FK_CongTyTiepNhan_NghiepDoan] FOREIGN KEY([idNghiepDoan])
REFERENCES [dbo].[NghiepDoan] ([Id])
GO
ALTER TABLE [dbo].[CongTyTiepNhan] CHECK CONSTRAINT [FK_CongTyTiepNhan_NghiepDoan]
GO
ALTER TABLE [dbo].[HopDongDOLABHocVienMapping]  WITH CHECK ADD  CONSTRAINT [FK_HopDongDOLAB_HocVien_HopDongDOLAB] FOREIGN KEY([IdHopDongDOLAB])
REFERENCES [dbo].[HopDongDOLAB] ([Id])
GO
ALTER TABLE [dbo].[HopDongDOLABHocVienMapping] CHECK CONSTRAINT [FK_HopDongDOLAB_HocVien_HopDongDOLAB]
GO
ALTER TABLE [dbo].[HopDongDOLABHocVienMapping]  WITH CHECK ADD  CONSTRAINT [FK_HopDongDOLAB_HocVien_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[HopDongDOLABHocVienMapping] CHECK CONSTRAINT [FK_HopDongDOLAB_HocVien_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[KyTucXa]  WITH CHECK ADD  CONSTRAINT [FK_KyTucXa_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[KyTucXa] CHECK CONSTRAINT [FK_KyTucXa_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[QuaTrinhHocTap]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhHocTap_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[QuaTrinhHocTap] CHECK CONSTRAINT [FK_QuaTrinhHocTap_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[QuaTrinhLamViec]  WITH CHECK ADD  CONSTRAINT [FK_QuaTrinhLamViec_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[QuaTrinhLamViec] CHECK CONSTRAINT [FK_QuaTrinhLamViec_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[SucKhoe]  WITH CHECK ADD  CONSTRAINT [FK_SucKhoe_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[SucKhoe] CHECK CONSTRAINT [FK_SucKhoe_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[ThongTinCaNhan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinCaNhan_TrungTamGTVL] FOREIGN KEY([IdTrungTamGTVL])
REFERENCES [dbo].[TrungTamGTVL] ([Id])
GO
ALTER TABLE [dbo].[ThongTinCaNhan] CHECK CONSTRAINT [FK_ThongTinCaNhan_TrungTamGTVL]
GO
ALTER TABLE [dbo].[ThongTinDuTuyen]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinDuTuyen_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[ThongTinDuTuyen] CHECK CONSTRAINT [FK_ThongTinDuTuyen_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[ThongTinGiaDinh]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinGiaDinh_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[ThongTinGiaDinh] CHECK CONSTRAINT [FK_ThongTinGiaDinh_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[ThongTinNopTien]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinNopTien_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[ThongTinNopTien] CHECK CONSTRAINT [FK_ThongTinNopTien_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[ThongTinPhongVan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinPhongVan_CongTyChungNghe1] FOREIGN KEY([IdCongTyChungNghe])
REFERENCES [dbo].[CongTyChungNghe] ([Id])
GO
ALTER TABLE [dbo].[ThongTinPhongVan] CHECK CONSTRAINT [FK_ThongTinPhongVan_CongTyChungNghe1]
GO
ALTER TABLE [dbo].[ThongTinPhongVan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinPhongVan_CongTyTiepNhan] FOREIGN KEY([IdCongTyTiepNhan])
REFERENCES [dbo].[CongTyTiepNhan] ([Id])
GO
ALTER TABLE [dbo].[ThongTinPhongVan] CHECK CONSTRAINT [FK_ThongTinPhongVan_CongTyTiepNhan]
GO
ALTER TABLE [dbo].[ThongTinPhongVan]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinPhongVan_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[ThongTinPhongVan] CHECK CONSTRAINT [FK_ThongTinPhongVan_ThongTinCaNhan]
GO
ALTER TABLE [dbo].[ThongTinVeNuoc]  WITH CHECK ADD  CONSTRAINT [FK_ThongTinVeNuoc_ThongTinCaNhan] FOREIGN KEY([IdThongTinCaNhan])
REFERENCES [dbo].[ThongTinCaNhan] ([Id])
GO
ALTER TABLE [dbo].[ThongTinVeNuoc] CHECK CONSTRAINT [FK_ThongTinVeNuoc_ThongTinCaNhan]
GO
USE [master]
GO
