
@{
    var user = HttpContext.Current.User;
    ViewBag.Title = "Danh sách học viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    .display-initial {
        display: initial;
    }
</style>*@

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h3>Danh sách học viên</h3>
            </div>
            <div class="col-md-4">
                <a href="@this.Url.Action("Create")" class="btn btn-primary pull-right ">
                    <i class="left-icon glyphicon glyphicon-plus"></i>   Thêm thông tin cá nhân
                </a>
            </div>
        </div>
        <hr />
    </div>

    <div class="card-padding">
        <div id="datatable">
            <table id="hocVienDatatable" class="table table-striped table-bordered table-hover" style="width: 100% !important">
                <thead style="white-space: nowrap; text-overflow: ellipsis;">
                    <tr>
                        <th>
                            <label class="">Họ Tên</label>
                        </th>
                        <th>
                            <label class="">Giới tính</label>
                        </th>
                        <th>
                            <label class="">Ngày sinh</label>
                        </th>
                        <th>
                            <label class="">CMND</label>
                        </th>
                        <th>
                            <label class="">Điện thoại dđ</label>
                        </th>
                        <th>
                            <label class=""></label>
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        InitOrderDatatable();
        $('#hocVienDatatable_length, #hocVienDatatable_filter, #hocVienDatatable_info, hocVienDatatable_paginate').addClass('display-initial');
        $('#hocVienDatatable_filter, #hocVienDatatable_paginate').addClass('pull-right');
    });
    function InitOrderDatatable() {
        $("#hocVienDatatable").dataTable({
            "bSort": false,
            "bRetrieve": true,
            "bServerSide": true,
            "bScrollCollapse": true,
            "sAjaxSource": "@Url.Action("LoadDanhSachThongTin")",
            "bProcessing": true,
            "iDisplayLength": 10,
            "aLengthMenu": [10, 25, 50],
            "oLanguage": {
                "sSearch": "Tìm kiếm:",
                "sZeroRecords": "Không có dữ liệu phù hợp",
                "sInfo": "Hiển thị từ _START_ đến _END_ trên tổng số _TOTAL_ dòng",
                "sEmptyTable": "Không có dữ liệu",
                "sInfoFiltered": " - lọc ra từ _MAX_ dòng",
                "sLengthMenu": "Hiển thị _MENU_ dòng",
                "sProcessing": "Đang xử lý...",
                "oPaginate": {
                    "sNext": "<i class='fa fa-chevron-right'></i>",
                    "sPrevious": "<i class='fa fa-chevron-left'></i>"
                }
            },
            "aoColumnDefs": [
                {
                    "aTargets": [0, 1, 2, 3, 4],
                    "bSortable": false
                },
                {
                    "aTargets": [5],
                    "mRender": function (data, type, o) {
                        var data = o[5];
                        var detail = "<a class='btn btn-sm btn-primary' href='@Url.Action("Detail","ThongTinCaNhan")\/" + data + "\'><i class='glyphicon glyphicon-info'></i> Detail</a>";
                        var edit = "<a id='editThongTinCaNhan' class='btn btn-sm btn-danger' href='@Url.Action("Edit","ThongTinCaNhan")\/" + data + "\'><i class='glyphicon glyphicon-pencil'></i> Edit</a>";
                        return detail + " " + edit;
                    }
                }

            ],
            "bAutoWidth": false
        });
    }

    @if(!user.IsInRole("Admin") && !user.IsInRole("PhongNguon"))
    {
        <text>document.getElementById('editThongTinCaNhan').style.visibility = 'hidden';</text>
    }
</script>